@{
    ViewData["Title"] = "Categories";
}
<div class="row">
    <div class="col-5"><h1 class=" float-right"><a href="/products">Products</a></h1></div>
    <div style="border:2px solid black; height: 60px;"></div>
    <div class="col-5"><h1>Categories</h1></div>
</div>
@model Category 
<div class="row mt-5">
    <div class="col-5">
        <h1 class="text-center">New Categories</h1>
        <form class="mt-5" asp-action="Createcategory" asp-controller="Home" method="POST">
            <span class="text-danger" asp-validation-for="CName"></span>
            <div class="form-group">
              <label asp-for="CName">Name</label>
              <input asp-for="CName" type="text" class="form-control" id="CName" placeholder="Category name">
            </div>
            <button type="submit" class="btn btn-dark btn-lg">Create</button>
        </form>
    </div>
    <div style="border:2px solid black; height: 500px; margin-top:30px"></div>
    <div class="col-5">
        <h1 class="text-center">Existing Categories</h1>
        <div class="ml-5 mt-5">
            @{
                foreach(var cat in ViewBag.cats)
                {
                    <h3><a asp-action="AddProduct" asp-controller="Home" asp-route-id="@cat.CategoryId">@cat.CName</a></h3>   
                }
            }
        </div>
    </div>
</div>