<!-- 
@{
    ViewData["Title"] = "Form Submission";
} -->

<h1>Enter your information</h1>
<hr>
@model User
<form asp-action="Create" asp-controller="Home" method="post">
    <div>
        <span asp-validation-for="FirstName" class="text-danger"></span>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName">
    </div>
    <div>
        <span asp-validation-for="LastName" class="text-danger"></span>
        <label asp-for="LastName"></label>
        <input asp-for="LastName">
    </div>
    <div>
        <span asp-validation-for="Age" class="text-danger"></span>
        <label asp-for="Age"></label>
        <input asp-for="Age">
    </div>
    <div>
        <span asp-validation-for="Email"></span>
        <label asp-for="Email"></label>
        <input asp-for="Email">
    </div>
    <div>
        <span asp-validation-for="Password"></span>
        <label asp-for="Password"></label>
        <input asp-for="Password">
    </div>


    <input value="Add User" type="submit" class="btn btn-primary">    
</form>

