@{
    ViewData["Title"] = "Wedding Planner";
}

@model Wedding
<div class="row">
   <div class="col-8">
      <h1>@Model.WedderOne and @Model.WedderTwo's Wedding</h1>
   </div>
   <div class="col-4">
      <a style="margin-left: 60px; margin-top:20px; display: inline-block;" href="/dashboard">Dashboard</a>
      <a style="margin-left: 30px; margin-top:20px; display: inline-block;" href="/logout">Log Out</a>
   </div>
</div>
<div class="row mt-5">
   <div class="col-6">
      <h3>Date: @Convert.ToDateTime(Model.Date).ToString("MMM dd yyyy")</h3>
      <h3>Guests:</h3>
      <div>
         <ul style="list-style:none">
         @foreach(var guest in Model.guestList)
            {
               <li><h3>@guest.User.FirstName</h3></li>
            }   
            
         </ul>
      </div>
   </div>
   
   <div class="col-6">

   </div>
</div>