@{
    ViewData["Title"] = "Wedding Planner";
}

<h1 class="text-center mb-5">Login and Registration</h1>
<div style="width: 75%; margin: auto;">
    <div class="row">
        <div class="col-6">
            <h2>Registration</h2>
            <partial name="Register"/>
        </div>
        <div class="col-6">
            <h2>Login</h2>
            <partial name="Login"/>
        </div>
    </div>
</div>
