@{
    ViewData["Title"] = "Wedding Planner";
}

@model Wedding
<div class="row">
   <div class="col-8">
      <h1>Plan Your Wedding</h1>
   </div>
   <div class="col-4">
      <a style="margin-left: 60px; margin-top:20px; display: inline-block;" href="/dashboard">Dashboard</a>
      <a style="margin-left: 30px; margin-top:20px; display: inline-block;" href="/logout">Log Out</a>
   </div>
</div>

<div class="mt-5" style="width: 500px;">
   <form asp-action="CreateWedding" asp-controller="Home" method="POST">
      <div class="form-group row">
         <label asp-for="WedderOne" class="col-sm-3 col-form-label">Wedder One</label>
         <div class="col-sm-9">
         <span class="text-danger" asp-validation-for="WedderOne"></span>
         <input asp-for="WedderOne" type="text" class="form-control" id="WedderOne">
         </div>
      </div>
      <div class="form-group row">
         <label asp-for="WedderTwo" class="col-sm-3 col-form-label">Wedder Two</label>
         <div class="col-sm-9">
         <span class="text-danger" asp-validation-for="WedderTwo"></span>
         <input asp-for="WedderTwo" type="text" class="form-control" id="WedderTwo">
         </div>
      </div>
      <div class="form-group row">
         <label asp-for="Date" class="col-sm-3 col-form-label">Date</label>
         <div class="col-sm-9">
         <span class="text-danger" asp-validation-for="Date"></span>
         <input asp-for="Date" type="date" class="form-control" id="WeddingDate">
         </div>
      </div>
      <div class="form-group row">
         <label asp-for="WeddingAddress" class="col-sm-3 col-form-label">Wedding Address</label>
         <div class="col-sm-9">
         <span class="text-danger" asp-validation-for="WeddingAddress"></span>
         <input asp-for="WeddingAddress" type="text" class="form-control" id="WeddingAddress">
         </div>
      </div>
      <button type="submit" class="btn btn-info mt-3">Create</button>
   </form>

</div>