@{
    ViewData["Title"] = "Dojo Activity Center";
}

@model User
<div class="container">
    <div>
        <h1>Dojo Activity Center</h1>
        <h5 >Welcome</h5>
        <a href="/signin">Logout</a>
    </div>
    <hr>
    <div class="mt-5">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Activity</th>
                    <th scope="col">Date and Time</th>
                    <th scope="col">Event Coordinator</th>
                    <th scope="col">No of Participants</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td></td>
                    <td></td>
                
                </tr>
            </tbody>
        </table>
        <a href="new"><button>Add new Activity</button></a>
    </div>
</div>