@{
    ViewData["Title"] = "Chef 'N Dishes'";
}

<div class="container">
    <a class="float-right mt-4" href="/"><u>Home</u></a>
    <h1 class="text-center mt-5">Add a Chef!</h1>
    <hr>
    <div>
       
    </div>
</div>