@{
    ViewData["Title"] = "Chef 'N Dishes'";
}

<div class="container mt-5">
    <a class="float-right mt-4" href="/dishes/new"><u>Add a Dish</u></a>
    <div class="row">
        <div class="display-4 col-5 text-center"><a href="/">Chefs</a></div>
        <div class="display-4 col-5 text-center">Dishes</div>
    </div>
    <h1 class="mt-5">Yum, take a look at our tasty dishes!</h1>
    <hr>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Chef</th>
                    <th>Tastiness</th>
                    <th>Calories</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>