@{
    ViewData["Title"] = "Chef 'N Dishes'";
}

<div class="container mt-5">
    <a class="float-right mt-4" href="/new"><u>Add a Chef</u></a>
    <div class="row">
        <div class="display-4 col-5 text-center">Chefs</div>
        <div class="display-4 col-5 text-center"><a href="/dishes">Dishes</a></div>
    </div>
    <h1 class="mt-5">Check out our roster of Chefs!</h1>
    <hr>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th># of Dishes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>